@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --verde-azulado: #219ebcff;
    --azul: #023047ff;
    --amarelo: #ffb703ff;
    --laranja: #fb8500ff;
    --titulo: "Bebas Neue", sans-serif;
    --texto: "Raleway", sans-serif;
}
body{
    background-color: var(--verde-azulado);
    font-family: var(--texto);
}
